@import url('./color.css');

.gridbg{
  background-image:
    repeating-linear-gradient(var(--bg) 0 1px, transparent 1px 100%),
    repeating-linear-gradient(90deg,var(--bg) 0 1px, transparent 1px 100%);
  background-size: 7px 7px;
  background-position: -3px -3px;
}

#topnav {
  border: 0;
  margin: 0;
  padding: 0;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1999;
  display: flex;
  flex-flow: row nowrap;
}

#topnav > :nth-child(1) {
  flex: 1;
}

#topnav > :nth-child(2) {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  gap: 8px;
  margin-right: var(--space-l-xu1x80);
}

#topnav header {
  background-color: #000716 !important;
}

.awsui_badge-color-green_1yjyg_4p3yv_192 {
  background-color: var(--green-cool-20v) !important;
  color:var(--green-cool-80v) !important;
}

.awsui_badge-color-grey_1yjyg_4p3yv_189 {
  background-color: var(--gray-5) !important;
  color: currentcolor!important;
}

.awsui-dark-mode .awsui_badge-color-green_1yjyg_4p3yv_192 {
  background-color: var(--green-cool-70v) !important;
  color:var(--green-cool-5v) !important;
}

.awsui-dark-mode .awsui_badge-color-grey_1yjyg_4p3yv_189 {
  background-color: var(--gray-80) !important;
  color:#ffffff !important;
}

div[role="radiogroup"][data-layout="horizontal"] {
  display: flex!important;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: 1rem;
}

div[data-grid-border] > div {
  border-bottom: 1px solid #b6bec9;
}
div[data-grid-border] > div:nth-of-type(2n) {
  border-left: 1px solid #b6bec9;
}

.awsui-dark-mode div[data-grid-border] > div {
  border-bottom: 1px solid #414d5c;
}
.awsui-dark-mode div[data-grid-border] > div:nth-of-type(2n) {
  border-left: 1px solid #414d5c;
}

div[data-grid-border] > div:nth-last-of-type(-n+2) {
  border-bottom: 0;
}

/*<flashbar>*/
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-info_'] {
  background-color: var(--blue-cool-5v) !important;
  color: var(--blue-cool-80v) !important;
  border: 0.3rem solid var(--blue-cool-30v) !important;
}
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-info_']  button {
  border-color: var(--blue-cool-50v) !important;
  color: var(--blue-cool-80v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-info_'] {
  background-color: var(--blue-cool-80v) !important;
  color: var(--blue-cool-5v) !important;
  border: 0.3rem solid var(--blue-cool-50v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-info_']  button {
  border-color: var(--blue-cool-50v) !important;
  color: var(--blue-cool-5v) !important;
}

[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-success_'] {
  background-color: var(--green-cool-5v) !important;
  color: var(--green-cool-80v) !important;
  border: 0.3rem solid var(--green-cool-30v) !important;
}
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-success_'] button {
  border-color: var(--mint-cool-50v) !important;
  color: var(--mint-cool-80v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-success_'] {
  background-color: var(--mint-80v) !important;
  border: 0.3rem solid var(--mint-50v) !important;
  color: var(--mint-5v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-success_'] button {
  border-color: var(--mint-50v) !important;
  color: var(--mint-5v) !important;
}

[data-flashbar] .awsui-context-flashbar-warning[class*='awsui_flash-type-warning_'] {
  background-color: var(--gold-5v) !important;
  border: 0.3rem solid var(--gold-20v) !important;
  color: var(--gold-80v) !important;
}
[data-flashbar] .awsui-context-flashbar-warning[class*='awsui_flash-type-warning_'] button {
  border-color: var(--gold-20v) !important;
  color: var(--gold-80v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar-warning[class*='awsui_flash-type-warning_'] {
  background-color: var(--gold-80v) !important;
  border: 0.3rem solid var(--gold-20v) !important;
  color: var(--gold-5v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar-warning[class*='awsui_flash-type-warning_'] button {
  border-color: var(--gold-20v) !important;
  color: var(--gold-5v) !important;
}

[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-error_'] {
  background-color: var(--red-warm-10v) !important;
  border: 0.3rem solid var(--red-warm-50v) !important;
  color: var(--red-warm-80v) !important;
}
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-error_'] button {
  border-color: var(--red-warm-50v) !important;
  color: var(--red-warm-80v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-error_'] {
  background-color: var(--red-warm-80v) !important;
  border: 0.3rem solid var(--red-warm-50v) !important;
  color: var(--red-warm-10v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-error_'] button {
  border-color: var(--red-warm-50v) !important;
  color: var(--red-warm-10v) !important;
}

[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] {
  background-color: var(--cyan-5v) !important;
  border: 0.3rem solid var(--cyan-40v) !important;
  color: var(--cyan-80v) !important;
}
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] button {
  border-color: var(--cyan-40v) !important;
  color: var(--cyan-80v) !important;
}
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] progress::-webkit-progress-bar {
  background-color: var(--cyan-10v) !important;
}
[data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] progress::-webkit-progress-value {
  background-color: var(--cyan-40v) !important;
}

.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] {
  background-color: var(--cyan-80v) !important;
  border: 0.3rem solid var(--cyan-40v) !important;
  color: var(--cyan-5v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] button {
  border-color: var(--cyan-40v) !important;
  color: var(--cyan-5v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] progress::-webkit-progress-bar {
  background-color: var(--cyan-40v) !important;
}
.awsui-dark-mode [data-flashbar] .awsui-context-flashbar[class*='awsui_flash-type-in-progress_'] progress::-webkit-progress-value {
  background-color: var(--cyan-10v) !important;
}

/*</flashbar>*/

/*<table>*/
.awsui_row_wih1l_4t7p5_353:hover > td {
  background-color: var(--color-background-item-selected-dbqvjr)!important;
}
/*</table>*/

div.ff-control div.awsui_grid_14yj0_1812y_143 {
  align-items:center!important;
}

div.awsui-context-alert div.awsui_error_1i0s3_ygbo0_186 ul {
  padding-left: 0!important;
  padding-top: 1em!important;
  list-style-position: outside;
}

div.awsui-context-alert div.awsui_error_1i0s3_ygbo0_186 ul > li::marker {
  color: red!important;
}


/*<pager>*/
.awsui_button-current_fvjdu_df9i1_236 {
  background-color: var(--color-background-button-primary-default-f3veih)!important;
  border-color: var(--color-background-button-primary-default-f3veih)!important;
  color: var(--color-text-button-primary-default-7w7yjc)!important;
}

.awsui_arrow_fvjdu_df9i1_220.awsui_button_fvjdu_df9i1_186:not([disabled]) {
  color: var(--color-background-button-primary-default-f3veih)!important;
}

.awsui_root-disabled_fvjdu_df9i1_271 .awsui_button-current_fvjdu_df9i1_236 {
  background-color: var(--color-background-button-primary-disabled-lba03m)!important;
  border-color: var(--color-border-button-primary-disabled-2pi6u1)!important;
  color: var(--color-text-interactive-disabled-e23z4j)!important;
}
/*</pager>*/

.awsui_list-bottom_dwuol_qwyqy_178 .awsui_root_vrgzu_jnezy_143 {
  background-color: var(--color-background-dropdown-item-hover-i8ac7r)!important;
}

div.awsui_description_14mhv_3ojqr_286 {
  background-color: var(--cyan-5v)!important;
  color: #000000 !important;
  width: fit-content !important;
}

.awsui-dark-mode div.awsui_description_14mhv_3ojqr_286 {
  background-color: var(--cyan-80v) !important;
  color: var(--cyan-5v) !important;
}

@media (min-width:689px) {
  .awsui_tools_wih1l_4t7p5_162 {
    row-gap: 4px;
    padding-block-start: 8px!important;
  }
}

/*<cards>*/
.awsui_section_p8a6i_1hi4v_427 {
  display: block;
  vertical-align: unset;
}
.awsui_section_p8a6i_1hi4v_427:last-child {
  padding: 0;
}
/*</cards>*/

.kv_card {
}
.kv_card_k {
  font-weight: 700;
}
.kv_card_v {
  white-space: normal;
  overflow-wrap: break-word; 
}

.kv_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.kv_table th, .kv_table td {
  padding: 0;
  line-height: 1em;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-border-divider-default-in8dkg);
}
.kv_table th {
  color: var(--color-text-column-header-beosjg);
  padding: 4px 8px 4px 0;
  position: relative;
  font-weight: 700;
  background-color: var(--color-background-table-header-ly5ewp);
  color: var(--color-text-column-header-beosjg);
}
.kv_table th::after {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 0;
  width: 2px;
  background-color: var(--color-border-divider-default-in8dkg);
}
.kv_table td {
  padding: 4px;
  white-space: normal;
  overflow-wrap: break-word; 
}
.kv_table tr:nth-of-type(2n) > td {
  background-color: var(--color-background-cell-shaded-zw6xp4);
}
.kv_table tr:nth-last-of-type(1) > th,
.kv_table tr:nth-last-of-type(1) > td {
  border-bottom: none;
}
